main {
    padding: 10px;
    background-color: silver;
}

.post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
}

.post img {
    margin: 20px;
}

body {
    background-color: orangered;
    text-align: center;
    color: white;
}
h1, h2, h3, h4, h5{
    font-family: 'Barlow Semi Condensed', sans-sefif;
    font-weight: 700px;
}
p {
    font-family: 'Roboto', sans-serif;
}
a{
    font-family: 'Barlow Semi Condensed', sans-sefif;
    font-weight: 600px;
    letter-spacing: 2px;
}
